<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <error statusCode="403" subStatusCode="4" path="https://www.danwu.tk/index.html" responseMode="Redirect" />
        </httpErrors>
    </system.webServer>
    <system.web>
        <sessionState mode="StateServer" stateConnectionString="tcpip=www.danwu.tk:443" compressionEnabled="true" />
        <roleManager enabled="true" />
    </system.web>
</configuration>
